.blur_background {
    position: relative;
    width: 100%;
    height: 100%;
}

.transbox {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);
}

.ant-tabs-nav {
    margin-bottom: 4px !important;
}

.slick-arrow {
    display: none !important;
}

.ant-spin-dot-item {
    background-color: white !important;
}

.ais-Stats-text {
    color: #cbd5e0;
}

.ais-SearchBox-input {
    color: #718096;
}

/* .changeble-input {
    outline: none !important;
    border: 0 !important;
} */