html {
    scroll-behavior: smooth;
}

.search-box-main {
    box-shadow: 0 0 5px 2px rgb(43, 73, 245);
    padding: 0px;
    border-radius: 12px;
    width: 100%;
}

.ais-SearchBox-form {
    padding: 0px;
    width: 100%;
    border-width: 0px;
}
/* 
.ais-SearchBox {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
} */

/* .ais-SearchBox:hover {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s ease-in-out;
} */

.ais-SearchBox-input {
    padding: 12px;
    width: calc(100% - 50px);
    box-shadow: #555;
}

.ais-SearchBox-input:focus {
    outline: none;
}

.ais-SearchBox-resetIcon {
    display: none;
}

.ais-SearchBox-submit {
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(105, 126, 245);
    border-radius: 100%;
}

.ais-SearchBox-submitIcon {
    color: white;
    fill: white;
}

.ais-RefinementList-labelText {
    color: rgb(31, 28, 28) !important;
    font-size: 12px !important;
    padding-left: 4px !important;
}

.ais-RefinementList-count {
    font-size: 12px !important;
}

.ais-ClearRefinements-button {
    background-color: rgb(48, 111, 228) !important;
    border-radius: 4px !important;
    width: 100% !important;
    color: antiquewhite;
    transition: all;
    margin-bottom: 24px !important;
}

.ais-ClearRefinements-button:hover {
    background-color: rgb(15, 89, 228) !important;
    cursor: pointer;
    color: white;
}

.ais-RefinementList-showMore {
    background-color: rgb(48, 111, 228) !important;
    border-radius: 4px !important;
    padding: 4px !important;
    margin-top: 10px !important;
    color: antiquewhite;
    transition: all;
    font-size: 12px !important;
}

.ais-Pagination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ais-Pagination-item {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #e9eaed;
    margin-right: 2px;
    margin-bottom: 0px;
    color: #788293;
    font-size: 14px;
    transition: all;
}

.ais-Pagination-item:hover {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #e9edeb;
    margin-right: 2px;
    margin-bottom: 0px;
    color: #788293;
    font-size: 14px;
}

/* @media (max-width: 300px) {
    .ais-Pagination-item {
        padding: 4px 8px;
        border-radius: 8px;
        background-color: #e9eaed;
        margin-right: 2px;
        margin-bottom: 0px;
        color: #788293;
        font-size: 12px;
        transition: all;
    }
} */

.ais-SortBy {
    display: none;
}

.ais-RefinementList-count::before {
    content: "(";
}

.ais-RefinementList-count::after {
    content: ")";
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #cce0f1d8;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* .ais-RefinementList-count {
    display: none !important;
} */